body{
    background: #BDBDBD;
}

.text-contact{
padding-left: 100px;
}



header{
    position: relative;
    background: url("/website1/assets/img/bg.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 8rem;
    height: 700px;

}

header:before {
    content: "";
    position: absolute;
    background: url("/website1/assets/img/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

header div.container{
      position: relative !important;
  }