<!-- your html code here -->
<div class="first-heading">
    <div class="row">
        <div class="col-md-8 my-auto">
            <div class="mx-auto">
                
                <h2 class="text-start">This First Heading <span class="text-secondary">Will Catch Your Eyes</span> </h2>
                <div class="mx-auto">
                    <p class="text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
                        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
              
            </div>
            
        </div>
        <div class="col-md-4 text-center">
            <img class="rounded-circle w-75" src="assets/img/1.jpg" alt="">
        </div>

    </div>
</div> 