<!-- your html code here -->
<div class="portfolio" style="margin-top: 80px;">
    <div class="header mb-4">

        <h3>Portfolio</h3>
        <div class="">
            <p class="text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
                commodo
                cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>


    <div class="portfolio-content">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="assets/img/big-project-image.png" alt="" srcset="">
                <h4 class="text-primary my-4">Project Name</h4>
                <p class="text-justify">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                    as necessary, making
                    this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
                    combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                    reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                    non-characteristic words etc.</p>

            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="assets/img/big-project-image.png" alt="" srcset="">
                <h4 class="text-primary my-4">Project Name</h4>
                <p class="text-justify">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                    as necessary, making
                    this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
                    combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                    reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                    non-characteristic words etc.</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="assets/img/big-project-image.png" alt="" srcset="">
                <h4 class="text-primary my-4">Project Name</h4>
                <p class="text-justify">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                    as necessary, making
                    this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
                    combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                    reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                    non-characteristic words etc.</p>
            </div>
        </div>

    </div>
</div>